<div class="side_bar">
    <p class="dashboard_header">Admin area</p>
    <ul class="side_bar_ul">
        <li><a href="/admin">Dashboard</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/listings">Listings</a></li>
    </ul>
</div>